<script type="text/javascript">
  window.staticImages = {
    background: "<%= image_path('jellyfish.png') %>",
    boardCover: "<%= image_path('board-cover.jpg') %>",
    pencil: "<%= image_path('pencil.png') %>",
    upArrow: "<%= image_path('up_arrow.png') %>",
    internetIcon: "<%= image_path('internet_icon.png') %>",
    logo: "<%= image_path('logo.png') %>",
    logo64: "<%= image_path('logo_64.png') %>",
  }
</script>

<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/sessions/session.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>
</script>

<main id="root"></main>
